* {
  padding: 0px;
  margin: 0px;
}

body, html, .container {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.hover-frame {
  width: 2rem;
  height: 2rem;
}

.icon-button {
  width: 2rem;
  height: 2rem;
}

.menu-content {
  background-color: #333;
  color: #ddd;
}
.menu-content .icon-button {
  fill: #ddd;
}
.menu-content .hover-frame:hover .icon-button {
  fill: #65b;
}
.menu-content .close {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 15% 1fr;
}
.main-grid header {
  grid-row: 1;
  grid-column: 1/span 2;
  padding: 0.4rem;
  background-color: #65b;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.main-grid header h1 {
  width: 0px;
  flex-grow: 1;
  text-align: center;
}
.main-grid header .hover-frame:hover .icon-button {
  fill: #333;
}
.main-grid .sidebar-container {
  grid-row: 2;
  grid-column: 1;
  border-right: solid thick black;
  background-color: #ccc;
}
.main-grid .renderer-container {
  grid-row: 2;
  grid-column: 2;
}
.menu-component {
  height: 100%;
}
.menu-component .menu {
  position: absolute;
  height: 100%;
  width: 0%;
  transition: width 0.2s;
  overflow-x: hidden;
}
.menu-component .menu.menu-open {
  width: 30%;
}
.menu-component .content {
  position: relative;
  height: 100%;
  left: 0%;
  width: 100%;
  transition: left 0.2s, width 0.2s;
}
.menu-component .content.menu-open {
  left: 30%;
  width: 70%;
}
.tabcontrol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3em;
}
.tabcontrol .content {
  grid-row: 1;
  grid-column: 1;
  border-bottom: 1px solid black;
}
.tabcontrol .tabs {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
.tabcontrol .tabs .tab {
  width: 0px;
  max-width: 8em;
  flex-grow: 1;
  border-right: 1px solid black;
}
.tabcontrol .tabs .tab:hover {
  background-color: lightsteelblue;
}
.tabcontrol .tabs .tab:active {
  background-color: lightslategray;
}
.tabcontrol .tabs .tab.selected {
  background-color: lightsteelblue;
}
.toolbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.toolbox .tool {
  border: 1px solid black;
  border-radius: 0.2rem;
  width: 3rem;
  height: 3rem;
}
.toolbox .tool:hover {
  background-color: lightsteelblue;
}
.toolbox .tool:active {
  background-color: lightslategray;
}
.toolbox .tool.selected {
  background-color: lightsteelblue;
}
.webglcanvas-component {
  position: relative;
}
.webglcanvas-component canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
