$duration: 0.2s;

.menu-component {
    height: 100%;

    .menu {
        position: absolute;
        height: 100%;
    
        // The menu starts off closed.
        width: 0%;
        transition: width $duration;
        overflow-x: hidden;
    }

    .menu.menu-open {
        width: 30%;
    }

    .content {
        position: relative;
        height: 100%;
    
        // The menu starts off closed.
        left: 0%;
        width: 100%;
        transition: left $duration, width $duration;
    }

    .content.menu-open {
        left: 30%;
        width: 70%;
    }
}
